# MCP Server Configuration
PORT=3005
TRANSPORT_MODE=stdio

# ECOM Microservice API Connection
ECOM_SERVICE_URL=https://microservices.shoppinggate.app/ecom
SERVICE_API_KEY=O5Xpb9Lho$NooI@7@Q>ztCpGVCQ
ECOM_SERVICE_TIMEOUT_MS=8000

# Optional Recommendation Engine Connection
RECOMMENDATION_ENGINE_URL=https://microservices.shoppinggate.app/aiengine
